@reference "../../../styles/globals.css";

.tag {
	@apply inline-block
        mx-2 my-1
        px-2 py-1
        font-mono
        text-xs 
        rounded-md
        border-slate-600 border-solid border-2
        transform transition duration-200
        first:ml-0

        hover:bg-slate-600 
        hover:border-slate-600
        hover:text-white
        hover:scale-110;
}

.socialIcon {
	@apply inline-flex
        rounded-full
        m-4
        p-4
        transform transition duration-200

        hover:bg-slate-600 
        hover:scale-100
        text-stone-600;
}

.socialIcon:hover {
	@apply text-white;
}
