<!DOCTYPE html>
<html>
    <head>
        <title><%= process.env.SITE_NAME %></title>
        <meta charset="UTF-8"/>
        <meta name="author" content="<%= process.env.SITE_AUTHOR %>" />
        <meta name="description" content="<%= process.env.SITE_DESCRIPTION %>" />
        <meta name="keywords" content="<%= process.env.SITE_KEYWORDS %>" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>